<% layout ("/layouts/boilarplate") -%>
<h3>All Listings</h3>
<!--<form action="/listing/new" method="get">
    <button>Create new listing</button>
</form>
<ul> -->
    
    <% for (let listing of listings) { %>
        <li>
            <a href="/listing/<%= listing._id %>">
                <%= listing.title %>
            </a>
        </li>
        <li>
            <a href="/listing/<%= listing._id %>">
                <%= listing.title %>
            </a>
        </li>
    <% } %>
</ul>
