<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wonderLust</title>
</head>
<body>
    <h3>Create a new listing</h3>
    <form action="/listing" method="post">
     
    <input name="listing[title]" placeholder="Enter title" type="text">
    <br>
    <textarea name="listing[description]" placeholder="Enter description" ></textarea>
    <br>
    <input name="listing[price]" placeholder="Enter price" type="number">
    <br>
    <input name="listing[location]" placeholder="Enter location" type="text">
    <br>
    <input name="listing[country]" placeholder="Enter content" type="text">
    <br>
    <button>Submit</button>
    </form>
</body>
</html>